<h1>Thank you for choosing Good Car Repairs!</h1>
<br></br>
<%= @user.email %>



<h2>Click on the link below or copy and paste in your browser to schedule a reservation.</h2>
<p>
<%= confirmation_user_url(@user) %>
</p>
