<p id="notice">Thank You For Choosing Good Car Repairs. <%= notice %></p>

  <h3> Please check the email below to create your repair request.</h3>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Back', root_path %>
